QMainWindow {
border-image: url(:/images/bkg);
color: black;
min-height:520px;
min-width:900px;
}

QToolTip{
color: white;
border: 1px solid white;
background-color: black;
}

QDialog {
background-color: #1775b7;
}

QMessageBox {
	border-image: url(:/images/bkg);
}

QDialog#AskPassphraseDialog {
border-image: url(:/images/bkg);
}

QDialog#OptionsDialog {
border-image: url(:/images/bkg);
}

QDialog#RPCConsole {
border-image: url(:/images/bkg);
}
QMenuBar {
	background-color: rgba(17,17,17,100);
	
	color: #fff;
}
QMenuBar::item {
	background-color: rgba(17,17,17,0);
	color: #fff;
}
QMenuBar::item:selected {
	background-color: rgba(17,17,17,150);
	color: #fff;
}
QMenu {
	background-color: rgba(17,17,17,200);
	color: #fff;
}
QMenu::item {
	color: #fff
}
QMenu::item:selected {
	background-color: #242424;
	color: #fff
}
QDialog#SignVerifyMessageDialog {
border-image: url(:/images/bkg);
}

QDialog#AboutDialog {
border-image: url(:/images/bkg);
}

QDialog#AboutQtDialog {
border-image: url(:/images/bkg);
}

QDialog#AboutDialog .QLabel{
color: white;
}
QDialog#OptionsDialog .QLabel{
color: black;
}
QDialog#RPCConsole .QLabel{
color: black;
}
QDialog#CoinControlDialog .QLabel .QRadioButton {
	color: white;
}
QDialog#AskPassphraseDialog .QLabel{
	color: white;
}
QDialog#EditAddressDialog .QLabel {
	color: white;
}
QDialog#CoinControlDialog {
	border-image: url(:/images/bkg);
}
QDialog#CoinControlDialog .QLabel {
	color: white;
}
QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioTreeMode { /* Coin Control Tree Mode Selector */
color: black;
}

QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioListMode { /* Coin Control List Mode Selector */
color: black;
}
QDialog#SignVerifyMessageDialog QWidget#tabWidget QLabel#infoLabel_SM {
	color: black;
}
QDialog#SignVerifyMessageDialog QWidget#tabVerifyMessage QLabel#infoLabel_VM{
	color: black;
}
QDialog#SignVerifyMessageDialog QWidget#tabWidget{
	background: transparent;
}
QDialog#AskPassphraseDialog QLabel#passLabel1, QDialog#AskPassphraseDialog QLabel#passLabel2, QDialog#AskPassphraseDialog QLabel#passLabel3 {
color: white;
}
QDialog#AskPassphraseDialog QCheckBox {
	color: white;
}
QDialog#EditAddressDialog {
	
}
QDialog#SendCoinsDialog {
background:rgba(0,25,0,0);
}

QWidget#AddressBookPage {
	background:transparent;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl{
background:transparent;
}
QDialog#MasternodeManager .QTabWidget#tabWidget .QWidget#tab {
background-color:transparent;
}
QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlFeatures { /* Coin Control Header */
color:#ffffff;
font-weight:bold;
font-size:14px;
}
QDialog#SendCoinsDialog .QScrollArea#scrollArea { /* Send To Widget */
background:transparent;
}
QDialog#SendCoinsDialog .QScrollArea#scrollArea .QWidget#scrollAreaWidgetContents { /* Send To Widget */
background:transparent;
}
QLabel { /* Base Text Size & Color */
font-size:12px;
color:#ffffff;
}
QWidget .QFrame#frame_2 .QListView#listTransactions { /* Transaction List */
/*color:#ffffff; /*5bd75a;*/
font-weight:bold;
font-size:14px;
color:#ffffff;
}

/* Not used yet but custom properties can be used to simulate
   QT Roles for color listview items. Using delegates curently. */
QWidget .QFrame#frame_2 .QListView::item#listTransactions {
color:#ffffff;
background-color:transparent;
}
QHeaderView { /* Table Header */
background-color:#fff;
outline:0;
color: black;
}
QHeaderView::section { /* Table Header Sections */
qproperty-alignment:center;
background-color: white;
color:black;
min-height:25px;
font-weight:bold;
font-size:11px;
border:0;
border-right:1px solid #000;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
}
.QScrollArea {
background:transparent;
border:0;
}

.QTableView { /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
background:rgba(0,25,0,0);
alternate-background-color:rgba(23, 117, 183,40);
alternate-color:#ffffff;
border:1px solid #747f8d;
color:#ffffff;
}

QWidget .QFrame#frame .QLabel#label_5 { /* Wallet Label */
font-size: 14px;
}

QWidget .QFrame#frame_2 .QLabel#label_4 { /* Recent Transactions Label */
font-size:14px;
}

QToolBar {
background-color:rgba(19, 19, 19, 100);
border:0px solid #000;
padding:0;
margin:0;
width: 160px; 

}

QToolBar > QToolButton {
background-color:transparent;
border-style:solid;
border-color:rgba(255, 159, 20, 255);
border-bottom: 2px solid #333333;
border-left:0px;
border-top:0px;
border-right:0px;
color:#ffffff;
padding:5px;
width: 160px; 
font-size: 14px;
font-family: Georgia,Times,Times New Roman,serif;
font-weight: 400;
font-variant: small-caps;

}

QToolBar > QToolButton:checked {
border-bottom: 2px solid #df9e43;
}

QToolBar > QToolButton:hover {
background-color:rgba(26, 26, 26, 100);
border-bottom: 2px solid #493348;
}
QPushButton {
background-color: #1a1a1a;
border: 2px solid #131313;
color:#ffffff;
padding:5px;
font-weight:bold;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QCheckBox#checkBoxCoinControlChange { /* Custom Change Label */
color:#ffffff;
}

QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioTreeMode { /* Coin Control Tree Mode Selector */
color:white;
}

QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioListMode { /* Coin Control List Mode Selector */
color:white;
}